@import '../../index.scss';

.servicedemo {
  width: 400px;
  height: 600px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  img {
    transition: 1s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:hover{
      transform: scale(1.2) rotate(5deg);
    }
  }
  .info{
    position: absolute;
    display: flex;
    width: 70%;
    flex-direction: column;
    transition: all 1s;
    padding: 15px 10px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.747);
    span{
      &:nth-child(1){
        font-size: 14px;
      }
      &:nth-child(2){
        font-size: 25px;
      }
    }
    a{
      font-size: 15px;
        color: rgba(0, 195, 255, 0.986);
    }
  }
}