@import '../../global.scss';

.contact {
  .top {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-image: url('/inner-banner-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
    background-size: cover;
    position: relative;
    @include mobile{
    height: 200px;
    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, transparent, $body-bg);
    }
    .top-title {
      font-size: 4rem;
      color: #fff;
      font-weight: bold;
      z-index: 1;
      @include mobile{
        font-size: 3rem;
        text-align: center
      }
    }
  }
  .middle {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    margin-top: 10rem;
    gap: 50px;
    @include tablet {
      flex-direction: column;
    }
    .left {
      flex: 1;
      .heading {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 3rem;
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 40px;
        &-details {
          display: flex;
          align-items: center;
          gap: 20px;
          svg {
            font-size: 3rem;
            color: $red;
          }
          .main-info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            span:nth-child(1) {
              font-size: 1rem;
              color: $gray;
            }
            span:nth-child(2) {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
    .right {
      flex: 1.2;
      display: flex;
      flex-direction: column;
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        // padding: 0 30px;
        width: 100%;
        .form1,
        .form2 {
          display: flex;
          gap: 20px;
        }
        input {
          border: 1px solid gray;
          padding: 15px 20px;
          background-color: transparent;
          width: 100%;
          outline: none;
          color: #fff;
        }
        textarea {
          outline: none;
          color: #fff;
          border: 1px solid gray;
          background-color: transparent;
          padding: 20px;
        }
      }
      button {
        padding: 15px;
        background-color: transparent;
        border: 1px solid gray;
        color: #fff;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          background-color: $dark-gray;
        }
      }
    }
  }
  .bottom {
    @include container;
    iframe {
      width: 100%;
      height: 400px;
      margin-top: 10rem;
      // filter: grayscale(1);
    }
  }
}
