@import '../../global.scss';

.experience-title {
  @include container;
  text-align: right;
  margin-top: 3rem;
  font-size: 6rem;
  font-weight: bold;
  @include font-oswald;
  -webkit-text-stroke: 1px $gray;
  color: transparent;
  opacity: 0.6;
  @include mobile {
    font-size: 3rem;
    text-align: left;
  }
}
.skills {
  display: flex;
  align-items: center;
  @include container;
  padding: 3rem 1rem 0;
  gap: 30px;
  @include tablet {
    flex-direction: column-reverse;
  }
  .left {
    flex: 1;
    height: 600px;
    background-color: $deep-gray;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 90%;
      height: 90%;
      border: 1px solid $dark-gray;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include mobile {
        width: 95%;
        height: 95%;
      }
    }
    &-container {
      margin: 2rem;
      padding: 3rem 2rem;
      color: $gray;
      @include mobile {
        margin: 1rem;
        padding: 2rem 1rem;
      }
      .h4 {
        @include font-oswald;
        font-size: 19px;
        margin-bottom: 1rem;
      }
      .skills-h1 {
        color: #fff;
        @include font-oswald;
        line-height: 50px;
        font-weight: 500;
        font-size: 2.3rem;
        @include mobile {
          line-height: 40px;
        }
      }
      p {
        margin-bottom: 3rem;
        line-height: 30px;
        @include mobile {
          line-height: 20px;
          padding-top: 1rem;
        }
      }
      .skills-score {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @include mobile {
          gap: 20px;
        }
        &-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          @include font-oswald;

          .score {
            text-align: center;
            @include flex();
            font-size: 1.6rem;
            border: 1px solid #fff;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-bottom: 1rem;
            @include mobile {
              width: 80px;
              height: 80px;
              font-size: 1.3rem;
            }
            span {
            }
          }
          .score-title {
            text-align: center;
            font-size: 1.2rem;
            @include mobile {
              line-height: 25px;
            }
          }
        }
      }
    }
  }
  .right {
    height: 600px;
    flex: 1;
    overflow: hidden;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
