@import '../../global.scss';

.team {
  @include container;
  padding: 2rem 1rem;
  .team-title {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    @include font-oswald;
    -webkit-text-stroke: 1px $gray;
    color: transparent;
    opacity: 0.6;
    @include mobile {
      font-size: 3rem;
    }
  }
  .team-card-container {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    justify-content: space-between;
    margin-top: 4rem;
    @include tablet {
      margin-top: 2rem;
      justify-content: center;
      gap: 10px;
      grid-template-columns: repeat(2, 0fr);
    }
    @include mobile {
      margin-top: 2rem;
      justify-content: center;
      gap: 10px;
      grid-template-columns: repeat(2, 0fr);
    }
  }
}
