@import '../../global.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  border-bottom: 1px solid rgb(107, 107, 107);
  user-select: none;
  transition: 1s ease-in-out;
  background: linear-gradient(to top, #00000000, $body-bg);
  @include mobile {
    padding: 10px 1rem;
  }
  .left {
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
    img{
      width: 250px;
      @include mobile {
        width: 200px;
      }
    }
  }
  .middle {
    @include flex();
    gap: 30px;
    text-transform: uppercase;
    transition: 0.5s;
    // font-weight: 300;
    // @include font-oswald;
    z-index: 100;
    span {
      cursor: pointer;
    }
    @include tablet {
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      background-color: #0e0b0b;
      height: 100vh;
      width: 200px;
      z-index: 100000;
      align-items: flex-start;
      // padding-left: 2rem;
      padding: 0 1rem;
      transform: translateX(-100%);
    }
    &.active {
      @include tablet {
        transform: translateX(0);
      }
    }
  }
  .right {
    @include flex();
    gap: 50px;
    .icons {
      @include flex();
      gap: 15px;
      svg {
        cursor: pointer;
        font-size: 20px;
      }
    }
    .btn {
      border: 1px solid gray;
      padding: 10px 20px;
      cursor: pointer;
      @include flex();
      gap: 20px;
      transition: 0.5s;
      &:hover {
        background-color: $red;
      }
      @include tablet {
        position: fixed;
        bottom: 50px;
        left: 0;
        transform: translateX(-100%);
        z-index: 11;
        opacity: 0;
      }
      &.active {
        @include tablet {
          left: 30px;
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
  .nav-btn {
    display: none;
    cursor: pointer;
    z-index: 111;
    svg{
      font-size: 2rem;
      // border: 1px solid gray;
      padding: 5px;
    }
    @include tablet {
      display: block;
      position: fixed;
      top: .5rem;
      right: 1rem;
    }
  }
  .nav-btn-x {
    position: fixed;
    z-index: 11;
    top: 30px;
    left: 0;
    transform: translateX(-100%);
    transition: .5s;
    cursor: pointer;
    &.active {
      @include tablet{
        left: 180px;
        transform: translateX(0);
      }
    }
  }
}
