.circle-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: transform 0.3s ease-out;
  transform: translate(-50%, -50%);
}

.color-red {
  color: red !important;
}

.gtm-iframe {
  display: none;
  visibility: hidden;
}

.order-place-b {
  color: black;
}

.blog-card-read-more {
  color: lightblue;
}

.position-relative {
  position: relative;
}

.pb-5 {
  padding-bottom: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.slideText {
  font-size: 12rem;
  font-weight: 700;
  margin-top: 5rem;
}

.opacity-2 {
  opacity: 0.2;
}

.mr-6r {
  margin-right: 6rem;
}

.all-blogs-btn,
.all-teams-btn {
  text-align: center;
  border: 1px solid gray;
  width: 200px;
  padding: 16px 20px;
  display: block;
  margin: 0 auto;
}

.all-teams-btn {
  margin-top: 2.5rem;
}

.mr-30 {
  margin-right: 30px;
}

.contact-success {
  color: green;
  padding: 5rem;
}

.dashboard-inspiration-img {
  width: 300px;
  height: 250px;
}

.send-message-btn {
  padding: 1.5rem;
  border-radius: 10px;
}

.register-btn,
.login-btn {
  color: #1669c4;
}

.notFound {
  padding: 100px;
  text-align: center;
}

.satisfied-client-img {
  margin-right: 30px;
}

.bg-red {
  background-color: red !important;
}

.mt-4 {
  margin-top: 4rem;
}

.p-100 {
  padding: 100px;
}
